my-map {
  $button-color: #DA291C;

  md-card-header {
    .md-button {
      md-icon {
        color: $button-color !important;
      }

      &[disabled] md-icon {
        color: #E0E0E0 !important;
      }
    }
  }

  evtx-widget-base evt-widget md-card-content > main {
    padding: 0;

    widget-body {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;

      .md-fab {
        position: absolute;
        top: 0;
        right: 0;

        &.md-mini[disabled] {
          background-color: #E0E0E0;
        }
      }
    }
  }

  .map-container {
    height: 400px;
  }

  .leaflet-top {
    z-index: initial;
  }
}
